body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTON */
.btn {
    margin: 10px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* SECTION */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 260px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}