body {
    margin: 0;
    font-family: Arial;
    color: white;
    background: linear-gradient(-45deg, #0f172a, #1e3a8a, #2563eb, #38bdf8);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

/* Gradient animation */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTON */
.btn {
    margin: 10px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* SECTION */
.section {
    padding: 80px 20px;
    text-align: center;
    backdrop-filter: blur(5px);
}

/* CARDS */
.card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 260px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* ANIMATION */
.fade {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition: all 0.8s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

html {
    scroll-behavior: smooth;
}